<div>
    <h2>
        <span>Payment Transaction Entities</span>
        <button class="btn btn-primary float-right jh-create-entity create-payment-transaction-entity" [routerLink]="['/', { outlets: { popup: ['payment-transaction-entity-new'] } }]">
            <span class="fa fa-plus"></span>
            <span >
            Create new Payment Transaction Entity
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="paymentTransactionEntities">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span>ID</span></th>
            <th><span>User Id</span></th>
            <th><span>Refrence Id</span></th>
            <th><span>Amount</span></th>
            <th><span>Invoice</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let paymentTransactionEntity of paymentTransactionEntities ;trackBy: trackId">
                <td><a [routerLink]="['../payment-transaction-entity', paymentTransactionEntity.id ]">{{paymentTransactionEntity.id}}</a></td>
                <td>{{paymentTransactionEntity.userId}}</td>
                <td>{{paymentTransactionEntity.refrenceId}}</td>
                <td>{{paymentTransactionEntity.amount}}</td>
                <td>
                    <div *ngIf="paymentTransactionEntity.invoice">
                        <a [routerLink]="['../invoice-entity', paymentTransactionEntity.invoice?.id ]" >{{paymentTransactionEntity.invoice?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../payment-transaction-entity', paymentTransactionEntity.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'payment-transaction-entity/'+ paymentTransactionEntity.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'payment-transaction-entity/'+ paymentTransactionEntity.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
