
<div *ngIf="invoiceEntity">
    <h2><span>Invoice Entity</span> {{invoiceEntity.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span>Subscription</span></dt>
        <dd>
            <span>{{invoiceEntity.subscription}}</span>
        </dd>
        <dt><span>Payment Type</span></dt>
        <dd>
            <span>{{invoiceEntity.paymentType}}</span>
        </dd>
        <dt><span>Payment Date</span></dt>
        <dd>
            <span>{{invoiceEntity.paymentDate | date:'medium'}}</span>
        </dd>
        <dt><span>Amount</span></dt>
        <dd>
            <span>{{invoiceEntity.amount}}</span>
        </dd>
        <dt><span>Amount With Tax</span></dt>
        <dd>
            <span>{{invoiceEntity.amountWithTax}}</span>
        </dd>
        <dt><span>Status</span></dt>
        <dd>
            <span>{{invoiceEntity.status}}</span>
        </dd>
        <dt><span>User</span></dt>
        <dd>
            <div *ngIf="invoiceEntity.user">
                <a [routerLink]="['/user-entity', invoiceEntity.user?.id]">{{invoiceEntity.user?.id}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'invoice-entity/'+ invoiceEntity.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span> Edit</span>
    </button>
</div>
