<div>
    <h2>
        <span>Talent Pool Entities</span>
        <button class="btn btn-primary float-right jh-create-entity create-talent-pool-entity" [routerLink]="['/', { outlets: { popup: ['talent-pool-entity-new'] } }]">
            <span class="fa fa-plus"></span>
            <span >
            Create new Talent Pool Entity
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="talentPoolEntities">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span>ID</span></th>
            <th><span>First Name</span></th>
            <th><span>Last Name</span></th>
            <th><span>File Id</span></th>
            <th><span>State</span></th>
            <th><span>Cellphone</span></th>
            <th><span>Email</span></th>
            <th><span>User</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let talentPoolEntity of talentPoolEntities ;trackBy: trackId">
                <td><a [routerLink]="['../talent-pool-entity', talentPoolEntity.id ]">{{talentPoolEntity.id}}</a></td>
                <td>{{talentPoolEntity.firstName}}</td>
                <td>{{talentPoolEntity.lastName}}</td>
                <td>{{talentPoolEntity.fileId}}</td>
                <td>{{talentPoolEntity.state}}</td>
                <td>{{talentPoolEntity.cellphone}}</td>
                <td>{{talentPoolEntity.email}}</td>
                <td>
                    <div *ngIf="talentPoolEntity.user">
                        <a [routerLink]="['../user-entity', talentPoolEntity.user?.id ]" >{{talentPoolEntity.user?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../talent-pool-entity', talentPoolEntity.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'talent-pool-entity/'+ talentPoolEntity.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'talent-pool-entity/'+ talentPoolEntity.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
