<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myTalentPoolEntityLabel">Create or edit a Talent Pool Entity</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!talentPoolEntity.id">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="talentPoolEntity.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_firstName">First Name</label>
            <input type="text" class="form-control" name="firstName" id="field_firstName"
                [(ngModel)]="talentPoolEntity.firstName" />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_lastName">Last Name</label>
            <input type="text" class="form-control" name="lastName" id="field_lastName"
                [(ngModel)]="talentPoolEntity.lastName" />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_fileId">File Id</label>
            <input type="number" class="form-control" name="fileId" id="field_fileId"
                [(ngModel)]="talentPoolEntity.fileId" />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_state">State</label>
            <select class="form-control" name="state" [(ngModel)]="talentPoolEntity.state" id="field_state" >
                <option value="ACCEPTED">ACCEPTED</option>
                <option value="REJECTED">REJECTED</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_cellphone">Cellphone</label>
            <input type="text" class="form-control" name="cellphone" id="field_cellphone"
                [(ngModel)]="talentPoolEntity.cellphone" />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_email">Email</label>
            <input type="text" class="form-control" name="email" id="field_email"
                [(ngModel)]="talentPoolEntity.email" />
        </div>

        <div class="form-group">
            <label class="form-control-label" for="field_user">User</label>
            <select class="form-control" id="field_user" name="user" [(ngModel)]="talentPoolEntity.user" >
                <option [ngValue]="null"></option>
                <option [ngValue]="userEntityOption.id === talentPoolEntity.user?.id ? talentPoolEntity.user : userEntityOption" *ngFor="let userEntityOption of userentities; trackBy: trackUserEntityById">{{userEntityOption.id}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
