<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" dir="rtl">
    <head>
        <title th:text="#{email.activation.title}">فعال سازی حساب کاربری</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <link rel="shortcut icon" th:href="@{|${baseUrl}/favicon.ico|}" />
    </head>
    <body style="direction: rtl">
        <p th:text="#{email.activation.greeting(${user.login})}">
            عزیز
        </p>
        <p th:text="#{email.activation.text1}">
            حساب کاربری شما با موفقیت ایجاد شد، برای فعال سازی حساب کاربری کد زیر را در سایت آوند وارد نمایید
        </p>
        <p>
کد تایید :             <span th:text="${user.activationKey}"></span>
        </p>
        <p>
            <span th:text="#{email.activation.text2}">با احترام،</span>
            <br/>
            <em th:text="#{email.signature}">آوند.</em>
        </p>
    </body>
</html>
