<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" dir="rtl">
    <head>
        <title th:text="#{email.invitation.title}">دعوت نامه</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <link rel="shortcut icon" th:href="@{|${baseUrl}/favicon.ico|}" />
    </head>
    <body style="direction: rtl">
        <p th:text="#{email.invitation.greeting(${user.login})}">
            عزیز
        </p>
        <p th:text="#{email.invitation.text1}">
شما برای عضویت در سایت آوند دعوت شده اید
        </p>
        <p>
            <a th:href="@{|${baseUrl}/api/account/invite/${user.invitationKey}|}"
               th:text="@{|${baseUrl}/api/account/invite/${user.invitationKey}|}">لینک ثبت نام</a>
        </p>
        <p>
            <span th:text="#{email.invitation.text2}">با احترام،</span>
            <br/>
            <em th:text="#{email.signature}">آوند.</em>
        </p>
    </body>
</html>
