<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" dir="rtl">
<head>
    <title th:text="#{email.invitationMember.title}">مجوز</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body style="direction: rtl">
<p th:text="#{email.greeting(${companyMember.user.firstName})}">
</p>
<p th:text="#{email.invitationMember.content(${companyMember.position},${companyMember.department},${companyMember.company.nameFa})}">
</p>
<p>
    <span th:text="#{email.bestRegards}"></span>
    <br/>
    <em th:text="#{email.company(${companyMember.company.nameFa})}"></em>
</p>
</body>
</html>
