<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" dir="rtl">
<head>
    <title th:text="#{email.reset.title}"></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body style="direction: rtl">
<p th:text="#{email.reset.greeting(${user.firstName})}">
</p>
<p th:text="#{email.reset.content}">

</p>
<p>
    کد بازیابی کلمه عبور : <span th:text="${user.resetKey}"></span>
</p>
<p>
    <span th:text="#{email.bestRegards}"></span>
    <br/>
    <em th:text="#{email.signature}"></em>
</p>
</body>
</html>
