<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" dir="rtl">
<head>
    <title th:text="#{email.schedule.title}"></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body style="direction: rtl">
<p th:text="#{email.greeting(${name})}">
</p>
<p th:text="#{email.schedule.team.content(${date},${candidateSchedule.getCandidate().getJob().nameFa})}">
</p>
<p>
    <span th:text="#{email.bestRegards}"></span>
    <br/>
    <em th:text="#{email.company(${candidateSchedule.getCandidate().getJob().getCompany().nameFa})}"></em>
</p>
</body>
</html>
