<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myJobEntityLabel">Create or edit a Job Entity</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!jobEntity.id">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="jobEntity.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_name">Name</label>
            <input type="text" class="form-control" name="name" id="field_name"
                [(ngModel)]="jobEntity.name" />
        </div>

        <div class="form-group">
            <label class="form-control-label" for="field_candidate">Candidate</label>
            <select class="form-control" id="field_candidate" name="candidate" [(ngModel)]="jobEntity.candidate" required>
                <option *ngIf="!editForm.value.candidate" [ngValue]="null" selected></option>
                <option [ngValue]="candidateEntityOption.id === jobEntity.candidate?.id ? jobEntity.candidate : candidateEntityOption" *ngFor="let candidateEntityOption of candidates; trackBy: trackCandidateEntityById">{{candidateEntityOption.id}}</option>
            </select>
        </div>
        <div [hidden]="!(editForm.controls.candidate?.dirty && editForm.controls.candidate?.invalid)">
            <small class="form-text text-danger"
                [hidden]="!editForm.controls.candidate?.errors?.required">
                This field is required.
            </small>
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_company">Company</label>
            <select class="form-control" id="field_company" name="company" [(ngModel)]="jobEntity.company"  required>
                <option *ngIf="!editForm.value.company" [ngValue]="null" selected></option>
                <option [ngValue]="companyEntityOption.id === jobEntity.company?.id ? jobEntity.company : companyEntityOption" *ngFor="let companyEntityOption of companyentities; trackBy: trackCompanyEntityById">{{companyEntityOption.id}}</option>
            </select>
        </div>
        <div [hidden]="!(editForm.controls.company?.dirty && editForm.controls.company?.invalid)">
            <small class="form-text text-danger"
                [hidden]="!editForm.controls.company?.errors?.required">
                This field is required.
            </small>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
