<div>
    <h2>
        <span>Company Pipeline Entities</span>
        <button class="btn btn-primary float-right jh-create-entity create-company-pipeline-entity" [routerLink]="['/', { outlets: { popup: ['company-pipeline-entity-new'] } }]">
            <span class="fa fa-plus"></span>
            <span >
            Create new Company Pipeline Entity
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="companyPipelineEntities">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span>ID</span></th>
            <th><span>Title</span></th>
            <th><span>Weight</span></th>
            <th><span>Company</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let companyPipelineEntity of companyPipelineEntities ;trackBy: trackId">
                <td><a [routerLink]="['../company-pipeline-entity', companyPipelineEntity.id ]">{{companyPipelineEntity.id}}</a></td>
                <td>{{companyPipelineEntity.title}}</td>
                <td>{{companyPipelineEntity.weight}}</td>
                <td>
                    <div *ngIf="companyPipelineEntity.company">
                        <a [routerLink]="['../company-entity', companyPipelineEntity.company?.id ]" >{{companyPipelineEntity.company?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../company-pipeline-entity', companyPipelineEntity.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'company-pipeline-entity/'+ companyPipelineEntity.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'company-pipeline-entity/'+ companyPipelineEntity.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
