<div>
    <h2>
        <span>Comment Entities</span>
        <button class="btn btn-primary float-right jh-create-entity create-comment-entity" [routerLink]="['/', { outlets: { popup: ['comment-entity-new'] } }]">
            <span class="fa fa-plus"></span>
            <span >
            Create new Comment Entity
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="commentEntities">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span>ID</span></th>
            <th><span>User Id</span></th>
            <th><span>Comment Text</span></th>
            <th><span>Status</span></th>
            <th><span>Candidate</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let commentEntity of commentEntities ;trackBy: trackId">
                <td><a [routerLink]="['../comment-entity', commentEntity.id ]">{{commentEntity.id}}</a></td>
                <td>{{commentEntity.userId}}</td>
                <td>{{commentEntity.commentText}}</td>
                <td>{{commentEntity.status}}</td>
                <td>
                    <div *ngIf="commentEntity.candidate">
                        <a [routerLink]="['../candidate-entity', commentEntity.candidate?.id ]" >{{commentEntity.candidate?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../comment-entity', commentEntity.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'comment-entity/'+ commentEntity.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'comment-entity/'+ commentEntity.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
