
<div *ngIf="commentEntity">
    <h2><span>Comment Entity</span> {{commentEntity.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span>User Id</span></dt>
        <dd>
            <span>{{commentEntity.userId}}</span>
        </dd>
        <dt><span>Comment Text</span></dt>
        <dd>
            <span>{{commentEntity.commentText}}</span>
        </dd>
        <dt><span>Status</span></dt>
        <dd>
            <span>{{commentEntity.status}}</span>
        </dd>
        <dt><span>Candidate</span></dt>
        <dd>
            <div *ngIf="commentEntity.candidate">
                <a [routerLink]="['/candidate-entity', commentEntity.candidate?.id]">{{commentEntity.candidate?.id}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'comment-entity/'+ commentEntity.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span> Edit</span>
    </button>
</div>
