
<div *ngIf="userEntity">
    <h2><span>User Entity</span> {{userEntity.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span>Login</span></dt>
        <dd>
            <span>{{userEntity.login}}</span>
        </dd>
        <dt><span>Password Hash</span></dt>
        <dd>
            <span>{{userEntity.passwordHash}}</span>
        </dd>
        <dt><span>First Name</span></dt>
        <dd>
            <span>{{userEntity.firstName}}</span>
        </dd>
        <dt><span>Last Name</span></dt>
        <dd>
            <span>{{userEntity.lastName}}</span>
        </dd>
        <dt><span>Email</span></dt>
        <dd>
            <span>{{userEntity.email}}</span>
        </dd>
        <dt><span>Activated</span></dt>
        <dd>
            <span>{{userEntity.activated}}</span>
        </dd>
        <dt><span>Activation Key</span></dt>
        <dd>
            <span>{{userEntity.activationKey}}</span>
        </dd>
        <dt><span>Reset Key</span></dt>
        <dd>
            <span>{{userEntity.resetKey}}</span>
        </dd>
        <dt><span>Reset Date</span></dt>
        <dd>
            <span>{{userEntity.resetDate | date:'medium'}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'user-entity/'+ userEntity.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span> Edit</span>
    </button>
</div>
