
<div *ngIf="userAuthorityEntity">
    <h2><span>User Authority Entity</span> {{userAuthorityEntity.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span>Authority Name</span></dt>
        <dd>
            <span>{{userAuthorityEntity.authorityName}}</span>
        </dd>
        <dt><span>User</span></dt>
        <dd>
            <div *ngIf="userAuthorityEntity.user">
                <a [routerLink]="['/user-entity', userAuthorityEntity.user?.id]">{{userAuthorityEntity.user?.id}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'user-authority-entity/'+ userAuthorityEntity.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span> Edit</span>
    </button>
</div>
