<div>
    <h2>
        <span>Plan Entities</span>
        <button class="btn btn-primary float-right jh-create-entity create-plan-entity" [routerLink]="['/', { outlets: { popup: ['plan-entity-new'] } }]">
            <span class="fa fa-plus"></span>
            <span >
            Create new Plan Entity
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="planEntities">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span>ID</span></th>
            <th><span>Title</span></th>
            <th><span>Amount</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let planEntity of planEntities ;trackBy: trackId">
                <td><a [routerLink]="['../plan-entity', planEntity.id ]">{{planEntity.id}}</a></td>
                <td>{{planEntity.title}}</td>
                <td>{{planEntity.amount}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../plan-entity', planEntity.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'plan-entity/'+ planEntity.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'plan-entity/'+ planEntity.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
