<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myCandidateEntityLabel">Create or edit a Candidate Entity</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!candidateEntity.id">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="candidateEntity.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_firstName">First Name</label>
            <input type="text" class="form-control" name="firstName" id="field_firstName"
                [(ngModel)]="candidateEntity.firstName" />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_lastName">Last Name</label>
            <input type="text" class="form-control" name="lastName" id="field_lastName"
                [(ngModel)]="candidateEntity.lastName" />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_fileId">File Id</label>
            <input type="number" class="form-control" name="fileId" id="field_fileId"
                [(ngModel)]="candidateEntity.fileId" />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_state">State</label>
            <select class="form-control" name="state" [(ngModel)]="candidateEntity.state" id="field_state" >
                <option value="ACCEPTED">ACCEPTED</option>
                <option value="REJECTED">REJECTED</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_cellphone">Cellphone</label>
            <input type="text" class="form-control" name="cellphone" id="field_cellphone"
                [(ngModel)]="candidateEntity.cellphone" />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_email">Email</label>
            <input type="text" class="form-control" name="email" id="field_email"
                [(ngModel)]="candidateEntity.email" />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_candidatePipeline">Candidate Pipeline</label>
            <input type="number" class="form-control" name="candidatePipeline" id="field_candidatePipeline"
                [(ngModel)]="candidateEntity.candidatePipeline" />
        </div>

        <div class="form-group">
            <label class="form-control-label" for="field_file">File</label>
            <select class="form-control" id="field_file" name="file" [(ngModel)]="candidateEntity.file" required>
                <option *ngIf="!editForm.value.file" [ngValue]="null" selected></option>
                <option [ngValue]="fileEntityOption.id === candidateEntity.file?.id ? candidateEntity.file : fileEntityOption" *ngFor="let fileEntityOption of files; trackBy: trackFileEntityById">{{fileEntityOption.id}}</option>
            </select>
        </div>
        <div [hidden]="!(editForm.controls.file?.dirty && editForm.controls.file?.invalid)">
            <small class="form-text text-danger"
                [hidden]="!editForm.controls.file?.errors?.required">
                This field is required.
            </small>
        </div>
        <div [hidden]="!(editForm.controls.job?.dirty && editForm.controls.job?.invalid)">
            <small class="form-text text-danger"
                [hidden]="!editForm.controls.job?.errors?.required">
                This field is required.
            </small>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
