
<div *ngIf="candidateScheduleEntity">
    <h2><span>Candidate Schedule Entity</span> {{candidateScheduleEntity.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span>Owner</span></dt>
        <dd>
            <span>{{candidateScheduleEntity.owner}}</span>
        </dd>
        <dt><span>Schedule Date</span></dt>
        <dd>
            <span>{{candidateScheduleEntity.scheduleDate | date:'medium'}}</span>
        </dd>
        <dt><span>Candidate</span></dt>
        <dd>
            <div *ngIf="candidateScheduleEntity.candidate">
                <a [routerLink]="['/candidate-entity', candidateScheduleEntity.candidate?.id]">{{candidateScheduleEntity.candidate?.id}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'candidate-schedule-entity/'+ candidateScheduleEntity.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span> Edit</span>
    </button>
</div>
