<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myCandidateScheduleEntityLabel">Create or edit a Candidate Schedule Entity</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!candidateScheduleEntity.id">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="candidateScheduleEntity.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_owner">Owner</label>
            <input type="number" class="form-control" name="owner" id="field_owner"
                [(ngModel)]="candidateScheduleEntity.owner" />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_scheduleDate">Schedule Date</label>
            <div class="d-flex">
                <input id="field_scheduleDate" type="datetime-local" class="form-control" name="scheduleDate" [(ngModel)]="candidateScheduleEntity.scheduleDate"
                />
            </div>
        </div>

        <div class="form-group">
            <label class="form-control-label" for="field_candidate">Candidate</label>
            <select class="form-control" id="field_candidate" name="candidate" [(ngModel)]="candidateScheduleEntity.candidate" >
                <option [ngValue]="null"></option>
                <option [ngValue]="candidateEntityOption.id === candidateScheduleEntity.candidate?.id ? candidateScheduleEntity.candidate : candidateEntityOption" *ngFor="let candidateEntityOption of candidateentities; trackBy: trackCandidateEntityById">{{candidateEntityOption.id}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
